section {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-one {
  background-color: #273c75;
}

#section-two {
  background-color: #192a56;
  flex-direction: column;
}

#section-three {
  background-color: #2f3640;
}

#section-four {
  background-color: #353b48;
}

.smaller-images {
  width: 600px;
  padding: 1vw;
}

p {
  width: 600px;
  text-align: center;
  padding: 1vw;
  font-family: sans-serif;
  color: #BBB;
}

#large-image {
  width: 800px;
}

blockquote {
  color: #EEE;
  font-size: 1.5em;
  text-align: center;
}
