/* containers */
div {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#two {  flex-direction: column; }

/* background colors */
#section-one { background-color: #273c75; }
#section-two { background-color: #192a56; }
#section-three { background-color: #2f3640; }
#section-four { background-color: #353b48; }

/* images */
#train, #hedwig {
  width: 600px;
  padding: 1vw;
}

#gloucester {
  width: 800px;
}

/* text */
p {
  width: 600px;
  text-align: center;
  padding: 1vw;
  font-family: sans-serif;
  color: #BBB;
}

blockquote {
  color: #EEE;
  font-size: 1.5em;
  text-align: center;
}

/* animations */
.hidden {
  opacity: 0;
}

.show {
	animation: show 600ms;
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.hide {
	animation: hide 600ms;
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
